

.sideBar{
  background-color: #30333c;
  width: 20%;
  height: 100vh ;
  position: fixed;
}

.sideBarContainer{
  background-color: #30333c;
  width: 20%;
  height: 100vh ;
}

.MainContent {
  width: 80%;
  height: 100vh;
  background-color: "#f9f9f9"; 
  display: flex;
 
}
.bodyContainer{
  display: flex;
}
.appHeader {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

